.hero {
    width: 100%;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: absolute;
}

.banner {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    display: flex; 
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease; /* Smooth theme transition */
}

.slider-container {
    width: 200px;
    height: 250px;
    position: absolute; 
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%) translateY(-15vh); 
    perspective: 1000px;
}

.banner .slider {
    position: absolute; 
    inset: 0; 
    transform-style: preserve-3d; 
    animation: autoRun 20s linear infinite; 
    z-index: 2;
}

@keyframes autoRun {
    from {
        transform: rotateY(0deg); 
    }
    to {
        transform: rotateY(360deg);
    }
}

.banner .slider .item {
    position: absolute; 
    inset: 0; 
    transform: 
        rotateY(calc((var(--position) - 1) * (360deg / var(--quantity))))
        translateZ(400px); 
    overflow: hidden; 
}

.banner .slider .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;   
    display: block; 
}

.model img{
    padding-top: 25%;
    justify-content: center;
    justify-items: center;
    z-index: 1.5;
    width: 1000px !important;
    height: 700px;
    bottom: 0;
}